


@media screen and (max-width: 768px)
{
    #canvas
    {
        position: relative;
        width: 96%;
        height: 20vh;
        border-radius: 20px;
        margin: 2%;
        background-color: #8566FF;
    }

    .gridContainer
    {
        width: 96%;
        height: 35vh;
        background-color: green;
        border-radius: 20px;
        margin: 2%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: hidden;
    }
    .panelContainer
    {
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(2.5px);
        border-radius: 20px;
        box-shadow: 0 25px 45px rgb(0 0 0 / 20%);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        margin: 2%;
    }

    .gridPixel
    {
        height: 3.57143%;
        width: 3.57143%;
        border: none;
    }
}


@media screen and (min-width: 992px)
{
    html, body, .Login-component
    {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .baap
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 75vh;
        width: 75vw;
        background-color: blueviolet;
        justify-content: center;
    }

    .gridContainer
    {
        width: 40%;
        height: 55%;
        max-width: 310px;
        max-height: 310px;
        background-color: white;
        border-radius: 20px;
        margin: 5%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .panelContainer
    {
        margin: 2%;
        height: 25%;
        width: 45%;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(2.5px);
        border-radius: 20px;
        box-shadow: 0 25px 45px rgb(0 0 0 / 20%);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    #canvas
    {
        position: relative;
        height: 25%;
        width: 45%;
        border-radius: 20px;
        margin: 2%;
        background-color: #8566FF;
    }
}